.account,
.account * {
  box-sizing: border-box;
}
.account {
  background: #ffffff;
  text-decoration: none;
  width: 1440px;
  height: 1024px;
  position: relative;
  overflow: hidden;
}
.andy-hay-1-ua-i-zc-cj-h-0-unsplash-1 {
  width: 1440px;
  height: 1024px;
  position: absolute;
  left: 0px;
  top: 0px;
  filter: blur(5px);
}
.ellipse-18 {
  background: rgba(255, 224, 178, 0.8);
  border-radius: 50%;
  width: 209px;
  height: 209px;
  position: absolute;
  left: 616px;
  top: 64px;
}
.ellipse-17 {
  border-radius: 50%;
  width: 209px;
  height: 209px;
  position: absolute;
  left: 616px;
  top: 64px;
}
.rectangle-107 {
  background: rgba(255, 224, 178, 0.8);
  border-radius: 15px;
  width: 635px;
  height: 343px;
  position: absolute;
  left: 396px;
  top: 300px;
  filter: blur(5px);
}
.rectangle-108 {
  background: rgba(76, 175, 80, 0.8);
  border-radius: 15px;
  width: 550px;
  height: 65px;
  position: absolute;
  left: 439px;
  top: 386px;
}
.rectangle-109 {
  background: rgba(76, 175, 80, 0.8);
  border-radius: 15px;
  width: 550px;
  height: 65px;
  position: absolute;
  left: 439px;
  top: 529px;
}
.username {
  color: #000000;
  text-align: center;
  font: 600 25px/150% "Montserrat-SemiBold", sans-serif;
  position: absolute;
  left: 434px;
  top: 335px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.password {
  color: #000000;
  text-align: center;
  font: 600 25px/150% "Montserrat-SemiBold", sans-serif;
  position: absolute;
  left: 438px;
  top: 477px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rectangle-110 {
  background: rgba(255, 224, 178, 0.8);
  border-radius: 10px;
  width: 633px;
  height: 56px;
  position: absolute;
  left: 397px;
  top: 748px;
}
.or {
  color: #000000;
  text-align: center;
  font: 600 25px/150% "Montserrat-SemiBold", sans-serif;
  position: absolute;
  left: 700px;
  top: 757px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rectangle-111 {
  background: #3e2723;
  border-radius: 6px;
  width: 630px;
  height: 61px;
  position: absolute;
  left: 399px;
  top: 841px;
}
.rectangle-112 {
  background: #4caf50;
  border-radius: 6px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 630px;
  height: 61px;
  position: absolute;
  left: 399px;
  top: 665px;
}
.sign-in {
  color: #3e2723;
  text-align: center;
  font: 600 25px/150% "Montserrat-SemiBold", sans-serif;
  position: absolute;
  left: 670px;
  top: 674px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sign-up {
  color: rgba(255, 224, 178, 0.8);
  text-align: center;
  font: 600 25px/150% "Montserrat-SemiBold", sans-serif;
  position: absolute;
  left: 664px;
  top: 855px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rectangle-115 {
  background: rgba(240, 9, 37, 0.7);
  border-radius: 12px;
  width: 77px;
  height: 76px;
  position: absolute;
  left: 1301px;
  top: 64px;
}
.rectangle-114 {
  width: 69px;
  height: 65px;
  position: absolute;
  left: 1306px;
  top: 69px;
}
