.contact,
.contact * {
  box-sizing: border-box;
}
.contact {
  background: rgba(76, 175, 80, 0.8);
  width: 1440px;
  height: 1024px;
  position: relative;
  overflow: hidden;
}
.rectangle-15 {
  background: rgba(62, 39, 35, 0.5);
  border-radius: 30px;
  width: 1358px;
  height: 151px;
  position: absolute;
  left: 41px;
  top: 30px;
  box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.25);
}
.text {
  color: rgba(255, 224, 178, 0.8);
  text-align: left;
  font: 800 45px/150% "Montserrat-ExtraBold", sans-serif;
  position: absolute;
  left: 244px;
  top: 62px;
  width: 373px;
  height: 87px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.text2 {
  color: rgba(255, 224, 178, 0.8);
  text-align: left;
  font: 400 30px/150% "Montserrat-Regular", sans-serif;
  position: absolute;
  left: 569px;
  top: 90px;
  width: 27px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.rectangle-10 {
  background: rgba(255, 245, 225, 0.7);
  border-radius: 17px;
  width: 51px;
  height: 47px;
  position: absolute;
  left: 1132px;
  top: calc(50% - 445px);
}
.account {
  border-radius: 18px;
  width: 38px;
  height: 38px;
  position: absolute;
  left: 1139px;
  top: calc(50% - 441px);
}
.account2 {
  color: #ffe0b2;
  text-align: left;
  font: 400 20px/150% "Montserrat-Regular", sans-serif;
  position: absolute;
  left: 1117px;
  top: 114px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.rectangle-102 {
  background: rgba(255, 245, 225, 0.7);
  border-radius: 17px;
  width: 51px;
  height: 47px;
  position: absolute;
  left: 1251px;
  top: calc(50% - 445px);
}
.account3 {
  border-radius: 1px;
  width: 34px;
  height: 34px;
  position: absolute;
  left: 1260px;
  top: calc(50% - 439px);
}
.my-cart {
  color: #ffe0b2;
  text-align: left;
  font: 400 20px/150% "Montserrat-Regular", sans-serif;
  position: absolute;
  left: 1238px;
  top: 114px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.line-1 {
  width: 85px;
  height: 0px;
  position: absolute;
  left: 1222px;
  top: 63px;
  transform: translate(-1px, -1px);
  overflow: visible;
}
.line-2 {
  width: 50px;
  height: 0px;
  position: absolute;
  left: 1099px;
  top: 80px;
  transform: translate(-1px, -1px);
  overflow: visible;
}
.line-3 {
  width: 50px;
  height: 0px;
  position: absolute;
  left: 1336px;
  top: 80px;
  transform: translate(-1px, -1px);
  overflow: visible;
}
.brewing-up-morning-delights {
  color: #ffe0b2;
  text-align: center;
  font: 600 italic 20px/150% "Montserrat-SemiBoldItalic", sans-serif;
  position: absolute;
  left: 707px;
  top: 88px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ellipse-10 {
  background: rgba(255, 224, 178, 0.7);
  border-radius: 50%;
  width: 108px;
  height: 109.2px;
  position: absolute;
  left: 110px;
  top: 51px;
}
.rectangle-14 {
  border-radius: 19px;
  width: 102.6px;
  height: 95.55px;
  position: absolute;
  left: 112.7px;
  top: 56.46px;
}
.have-a-concern-or-facing-any-issues-reach-out-to-us-promptly-for-immediate-solutions {
  color: rgba(255, 224, 178, 0.85);
  text-align: center;
  position: absolute;
  left: 343px;
  top: 310px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.have-a-concern-or-facing-any-issues-reach-out-to-us-promptly-for-immediate-solutions-span {
  color: rgba(255, 224, 178, 0.85);
  font: 800 italic 35px/150% "Montserrat-ExtraBoldItalic", sans-serif;
}
.have-a-concern-or-facing-any-issues-reach-out-to-us-promptly-for-immediate-solutions-span2 {
  color: rgba(255, 224, 178, 0.85);
  font: 500 italic 30px/150% "Montserrat-MediumItalic", sans-serif;
}
.have-a-concern-or-facing-any-issues-reach-out-to-us-promptly-for-immediate-solutions-span3 {
  color: rgba(255, 224, 178, 0.85);
  font: 800 italic 30px/150% "Montserrat-ExtraBoldItalic", sans-serif;
}
.your-satisfaction-is-our-top-priority {
  color: rgba(255, 224, 178, 0.8);
  text-align: center;
  font: 800 italic 30px/150% "Montserrat-ExtraBoldItalic", sans-serif;
  position: absolute;
  left: 443px;
  top: 743px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ellipse-16 {
  border-radius: 50%;
  opacity: 0.5;
  width: 83px;
  height: 83px;
  position: absolute;
  left: 468px;
  top: 450px;
}
.ellipse-15 {
  border-radius: 50%;
  opacity: 0.5;
  width: 87px;
  height: 83px;
  position: absolute;
  left: 804px;
  top: 450px;
}
.line-6 {
  width: 764px;
  height: 0px;
  position: absolute;
  left: 353px;
  top: 562px;
  overflow: visible;
}
.rectangle-77 {
  background: rgba(255, 224, 178, 0.5);
  border-radius: 30px;
  width: 758px;
  height: 61px;
  position: absolute;
  left: 356px;
  top: 614px;
}
.rectangle-78 {
  border-radius: 30px;
  width: 53px;
  height: 53px;
  position: absolute;
  left: 1054px;
  top: 618px;
}
.search-faq {
  color: #ffffff;
  text-align: center;
  font: 400 20px/150% "Montserrat-Regular", sans-serif;
  position: absolute;
  left: 670px;
  top: 630px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rectangle-79 {
  opacity: 0.5;
  width: 77px;
  height: 77px;
  position: absolute;
  left: 583px;
  top: 453px;
}
.rectangle-80 {
  opacity: 0.5;
  width: 83px;
  height: 83px;
  position: absolute;
  left: 692px;
  top: 450px;
}
.rectangle-81 {
  opacity: 0.5;
  width: 98px;
  height: 90px;
  position: absolute;
  left: 920px;
  top: 446px;
}
.rectangle-82 {
  width: 1440px;
  height: 162px;
  position: absolute;
  left: 0px;
  top: 857px;
  filter: blur(10px);
}
.home {
  color: #ffe0b2;
  text-align: left;
  font: 400 20px/150% "Montserrat-Regular", sans-serif;
  position: absolute;
  left: 509px;
  top: 199px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.about-us {
  color: #ffe0b2;
  text-align: left;
  font: 400 20px/150% "Montserrat-Regular", sans-serif;
  position: absolute;
  left: 596px;
  top: 199px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.our-products {
  color: #ffe0b2;
  text-align: left;
  font: 400 20px/150% "Montserrat-Regular", sans-serif;
  position: absolute;
  left: 713px;
  top: 199px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.contact2 {
  color: #ffe0b2;
  text-align: left;
  font: 700 20px/150% "Montserrat-Bold", sans-serif;
  position: absolute;
  left: 871px;
  top: 199px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.cart {
  color: #ffe0b2;
  text-align: left;
  font: 400 20px/150% "Montserrat-Regular", sans-serif;
  position: absolute;
  left: 976px;
  top: 199px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
