.product-detail-pancake,
.product-detail-pancake * {
  box-sizing: border-box;
}
.product-detail-pancake {
  background: #ffe0b2;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 1440px;
  height: 1024px;
  position: relative;
  overflow: hidden;
}
.rectangle-15 {
  background: #3e2723;
  border-radius: 30px;
  width: 1358px;
  height: 151px;
  position: absolute;
  left: 41px;
  top: 30px;
  box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.25);
}
.text {
  color: rgba(255, 224, 178, 0.8);
  text-align: left;
  font: 800 45px/150% "Montserrat-ExtraBold", sans-serif;
  position: absolute;
  left: 244px;
  top: 62px;
  width: 373px;
  height: 87px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.text2 {
  color: rgba(255, 224, 178, 0.8);
  text-align: left;
  font: 400 30px/150% "Montserrat-Regular", sans-serif;
  position: absolute;
  left: 569px;
  top: 90px;
  width: 27px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.line-1 {
  width: 85px;
  height: 0px;
  position: absolute;
  left: 1222px;
  top: 63px;
  transform: translate(-1px, -1px);
  overflow: visible;
}
.line-2 {
  width: 50px;
  height: 0px;
  position: absolute;
  left: 1099px;
  top: 80px;
  transform: translate(-1px, -1px);
  overflow: visible;
}
.line-3 {
  width: 50px;
  height: 0px;
  position: absolute;
  left: 1336px;
  top: 80px;
  transform: translate(-1px, -1px);
  overflow: visible;
}
.brewing-up-morning-delights {
  color: #ffe0b2;
  text-align: center;
  font: 600 italic 20px/150% "Montserrat-SemiBoldItalic", sans-serif;
  position: absolute;
  left: 707px;
  top: 88px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rectangle-83 {
  border-radius: 95px;
  width: 532px;
  height: 431px;
  position: absolute;
  left: 109px;
  top: 296px;
  box-shadow: -10px 10px 8px 4px rgba(0, 0, 0, 0.25);
}
.rectangle-85 {
  background: rgba(255, 224, 178, 0.5);
  border-radius: 60px;
  width: 186px;
  height: 443px;
  position: absolute;
  left: 455px;
  top: 302px;
  filter: blur(25px);
}
.rectangle-86 {
  background: rgba(76, 175, 80, 0.8);
  border-radius: 20px;
  width: 476px;
  height: 70px;
  position: absolute;
  left: 707px;
  top: 854px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.rectangle-95 {
  background: #f00925;
  border-radius: 20px;
  width: 503px;
  height: 70px;
  position: absolute;
  left: 137px;
  top: 839px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.get-promo {
  color: #ffffff;
  text-align: left;
  font: 600 40px/150% "Montserrat-SemiBold", sans-serif;
  position: absolute;
  left: 251px;
  top: 844px;
}
.rectangle-87 {
  border-radius: 20px;
  opacity: 0.699999988079071;
  width: 80px;
  height: 70px;
  position: absolute;
  left: 1220px;
  top: 854px;
}
.discover-the-fluffy-delight-of-pancakes-indulge-in-the-perfect-breakfast-treat-our-pancakes-are-a-heavenly-blend-of-light-fluffy-goodness-served-hot-and-drizzled-with-syrup-each-bite-is-a-journey-to-breakfast-bliss-elevate-your-mornings-with-our-delectable-pancakes {
  color: #000000;
  text-align: justified;
  font: 400 25px/150% "Montserrat-Regular", sans-serif;
  position: absolute;
  left: 699px;
  top: 330px;
  width: 597px;
  display: flex;
  align-items: center;
  justify-content: undefined;
}
.options {
  color: rgba(30, 30, 30, 0.5);
  text-align: justified;
  font: 600 italic 25px/150% "Montserrat-SemiBoldItalic", sans-serif;
  position: absolute;
  left: 699px;
  top: 606px;
  display: flex;
  align-items: center;
  justify-content: undefined;
}
.pancake {
  color: #3e2723;
  text-align: left;
  font: 600 italic 40px/150% "Montserrat-SemiBoldItalic", sans-serif;
  position: absolute;
  left: 285px;
  top: 770px;
}
.idr-25-k {
  color: #ffffff;
  text-align: left;
  font: 600 italic 40px/150% "Montserrat-SemiBoldItalic", sans-serif;
  position: absolute;
  left: 860px;
  top: 859px;
}
.ellipse-10 {
  background: rgba(255, 224, 178, 0.7);
  border-radius: 50%;
  width: 108px;
  height: 109.2px;
  position: absolute;
  left: 84px;
  top: 51px;
}
.rectangle-14 {
  border-radius: 19px;
  width: 102.6px;
  height: 95.55px;
  position: absolute;
  left: 86.7px;
  top: 56.46px;
}
.rectangle-88 {
  width: 139px;
  height: 159px;
  position: absolute;
  left: 710px;
  top: 672px;
}
.large {
  color: #3e2723;
  text-align: center;
  font: 600 italic 25px/150% "Montserrat-SemiBoldItalic", sans-serif;
  position: absolute;
  left: 915px;
  top: 686px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.medium {
  color: #3e2723;
  text-align: center;
  font: 600 italic 25px/150% "Montserrat-SemiBoldItalic", sans-serif;
  position: absolute;
  left: 915px;
  top: 733px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.small {
  color: #000000;
  text-align: center;
  font: 600 italic 25px/150% "Montserrat-SemiBoldItalic", sans-serif;
  position: absolute;
  left: 915px;
  top: 780px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rectangle-89 {
  background: rgba(76, 175, 80, 0.24);
  border-radius: 5px;
  width: 28px;
  height: 24px;
  position: absolute;
  left: 876px;
  top: 695px;
}
.rectangle-90 {
  background: rgba(76, 175, 80, 0.24);
  border-radius: 5px;
  width: 28px;
  height: 24px;
  position: absolute;
  left: 876px;
  top: 740px;
}
.rectangle-91 {
  background: rgba(76, 175, 80, 0.24);
  border-radius: 5px;
  width: 28px;
  height: 24px;
  position: absolute;
  left: 876px;
  top: 787px;
}
.original {
  color: #3e2723;
  text-align: center;
  font: 600 italic 25px/150% "Montserrat-SemiBoldItalic", sans-serif;
  position: absolute;
  left: 1134px;
  top: 690px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.honey {
  color: #3e2723;
  text-align: center;
  font: 600 italic 25px/150% "Montserrat-SemiBoldItalic", sans-serif;
  position: absolute;
  left: 1134px;
  top: 737px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rectangle-93 {
  background: rgba(76, 175, 80, 0.24);
  border-radius: 5px;
  width: 28px;
  height: 24px;
  position: absolute;
  left: 1086px;
  top: 697px;
}
.rectangle-94 {
  background: rgba(76, 175, 80, 0.24);
  border-radius: 5px;
  width: 28px;
  height: 24px;
  position: absolute;
  left: 1086px;
  top: 744px;
}
.home {
  color: #3e2723;
  text-align: left;
  font: 400 20px/150% "Montserrat-Regular", sans-serif;
  position: absolute;
  left: 582px;
  top: 193px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.about-us {
  color: #3e2723;
  text-align: left;
  font: 400 20px/150% "Montserrat-Regular", sans-serif;
  position: absolute;
  left: 669px;
  top: 193px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.our-products {
  color: #3e2723;
  text-align: left;
  font: 700 20px/150% "Montserrat-Bold", sans-serif;
  position: absolute;
  left: 786px;
  top: 193px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.contact {
  color: #3e2723;
  text-align: left;
  font: 400 20px/150% "Montserrat-Regular", sans-serif;
  position: absolute;
  left: 944px;
  top: 193px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.cart {
  color: #3e2723;
  text-align: left;
  font: 400 20px/150% "Montserrat-Regular", sans-serif;
  position: absolute;
  left: 1049px;
  top: 193px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.rectangle-16 {
  background: rgba(255, 245, 225, 0.7);
  border-radius: 17px;
  width: 51px;
  height: 47px;
  position: absolute;
  left: 1134px;
  top: calc(50% - 441px);
}
.account {
  border-radius: 18px;
  width: 38px;
  height: 38px;
  position: absolute;
  left: 1141px;
  top: calc(50% - 437px);
}
.account2 {
  color: #ffe0b2;
  text-align: left;
  font: 400 20px/150% "Montserrat-Regular", sans-serif;
  position: absolute;
  left: 1119px;
  top: 118px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.rectangle-10 {
  background: rgba(255, 245, 225, 0.7);
  border-radius: 17px;
  width: 51px;
  height: 47px;
  position: absolute;
  left: 1253px;
  top: calc(50% - 441px);
}
.account3 {
  border-radius: 1px;
  width: 34px;
  height: 34px;
  position: absolute;
  left: 1262px;
  top: calc(50% - 435px);
}
.my-cart {
  color: #ffe0b2;
  text-align: left;
  font: 400 20px/150% "Montserrat-Regular", sans-serif;
  position: absolute;
  left: 1240px;
  top: 118px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
