.products-1-drinks,
.products-1-drinks * {
  box-sizing: border-box;
}
.products-1-drinks {
  background: #3e2723;
  width: 1440px;
  height: 1024px;
  position: relative;
  overflow: hidden;
}
.rectangle-15 {
  background: #3e2723;
  border-radius: 30px;
  width: 1358px;
  height: 151px;
  position: absolute;
  left: 41px;
  top: 30px;
  box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.25);
}
.text {
  color: rgba(255, 224, 178, 0.8);
  text-align: left;
  font: 800 45px/150% "Montserrat-ExtraBold", sans-serif;
  position: absolute;
  left: 244px;
  top: 62px;
  width: 373px;
  height: 87px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.text2 {
  color: rgba(255, 224, 178, 0.8);
  text-align: left;
  font: 400 30px/150% "Montserrat-Regular", sans-serif;
  position: absolute;
  left: 569px;
  top: 90px;
  width: 27px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.rectangle-10 {
  background: rgba(255, 245, 225, 0.7);
  border-radius: 17px;
  width: 51px;
  height: 47px;
  position: absolute;
  left: 1132px;
  top: calc(50% - 445px);
}
.account {
  border-radius: 18px;
  width: 38px;
  height: 38px;
  position: absolute;
  left: 1139px;
  top: calc(50% - 441px);
}
.account2 {
  color: #ffe0b2;
  text-align: left;
  font: 400 20px/150% "Montserrat-Regular", sans-serif;
  position: absolute;
  left: 1117px;
  top: 114px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.rectangle-102 {
  background: rgba(255, 245, 225, 0.7);
  border-radius: 17px;
  width: 51px;
  height: 47px;
  position: absolute;
  left: 1251px;
  top: calc(50% - 445px);
}
.account3 {
  border-radius: 1px;
  width: 34px;
  height: 34px;
  position: absolute;
  left: 1260px;
  top: calc(50% - 439px);
}
.my-cart {
  color: #ffe0b2;
  text-align: left;
  font: 400 20px/150% "Montserrat-Regular", sans-serif;
  position: absolute;
  left: 1238px;
  top: 114px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.line-1 {
  width: 85px;
  height: 0px;
  position: absolute;
  left: 1222px;
  top: 63px;
  transform: translate(-1px, -1px);
  overflow: visible;
}
.line-2 {
  width: 50px;
  height: 0px;
  position: absolute;
  left: 1099px;
  top: 80px;
  transform: translate(-1px, -1px);
  overflow: visible;
}
.line-3 {
  width: 50px;
  height: 0px;
  position: absolute;
  left: 1336px;
  top: 80px;
  transform: translate(-1px, -1px);
  overflow: visible;
}
.brewing-up-morning-delights {
  color: #ffe0b2;
  text-align: center;
  font: 600 italic 20px/150% "Montserrat-SemiBoldItalic", sans-serif;
  position: absolute;
  left: 707px;
  top: 88px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ellipse-10 {
  background: rgba(255, 224, 178, 0.7);
  border-radius: 50%;
  width: 108px;
  height: 109.2px;
  position: absolute;
  left: 110px;
  top: 51px;
}
.rectangle-14 {
  border-radius: 19px;
  width: 102.6px;
  height: 95.55px;
  position: absolute;
  left: 112.7px;
  top: 56.46px;
}
.rectangle-33 {
  border-radius: 0px;
  width: 1318px;
  height: 704px;
  position: absolute;
  left: 48px;
  top: 262px;
  overflow: visible;
}
.rectangle-32 {
  border-radius: 30px;
  width: 201px;
  height: 183px;
  position: absolute;
  left: 56px;
  top: 274px;
}
.drinks {
  color: #ffffff;
  text-align: left;
  font: 700 30px/150% "Montserrat-Bold", sans-serif;
  position: absolute;
  left: 373px;
  top: 310px;
}
.rectangle-35 {
  border-radius: 30px;
  width: 201px;
  height: 183px;
  position: absolute;
  left: 58px;
  top: 519px;
}
.breakfast {
  color: #ffffff;
  text-align: left;
  font: 700 30px/150% "Montserrat-Bold", sans-serif;
  position: absolute;
  left: 325px;
  top: 555px;
}
.explore {
  color: #ffffff;
  text-align: left;
  font: 300 italic 20px/150% "Montserrat-LightItalic", sans-serif;
  position: absolute;
  left: 401px;
  top: 656px;
}
.rectangle-37 {
  border-radius: 30px;
  width: 201px;
  height: 184px;
  position: absolute;
  left: 59px;
  top: 763px;
}
.coffee-beans {
  color: #ffffff;
  text-align: left;
  font: 700 30px/150% "Montserrat-Bold", sans-serif;
  position: absolute;
  left: 270px;
  top: 798px;
  width: 204px;
}
.explore2 {
  color: #ffffff;
  text-align: left;
  font: 300 italic 20px/150% "Montserrat-LightItalic", sans-serif;
  position: absolute;
  left: 401px;
  top: 900px;
}
.rectangle-34 {
  background: rgba(255, 224, 178, 0.4);
  border-radius: 30px;
  width: 451px;
  height: 207px;
  position: absolute;
  left: 45px;
  top: 507px;
}
.rectangle-36 {
  background: rgba(255, 224, 178, 0.4);
  border-radius: 30px;
  width: 451px;
  height: 207px;
  position: absolute;
  left: 45px;
  top: 752px;
}
.rectangle-70 {
  background: rgba(255, 224, 178, 0.4);
  border-radius: 30px;
  width: 245px;
  height: 310px;
  position: absolute;
  left: 1083px;
  top: 295px;
}
.rectangle-69 {
  background: rgba(255, 224, 178, 0.4);
  border-radius: 30px;
  width: 245px;
  height: 310px;
  position: absolute;
  left: 825px;
  top: 295px;
}
.rectangle-68 {
  background: rgba(255, 224, 178, 0.4);
  border-radius: 30px;
  width: 245px;
  height: 310px;
  position: absolute;
  left: 567px;
  top: 295px;
}
.rectangle-64 {
  border-radius: 30px;
  width: 192px;
  height: 161px;
  position: absolute;
  left: 595px;
  top: 320px;
}
.rectangle-50 {
  background: rgba(76, 175, 80, 0.8);
  border-radius: 10px;
  width: 45px;
  height: 44px;
  position: absolute;
  left: 749px;
  top: 542px;
}
.rectangle-49 {
  background: rgba(76, 175, 80, 0.8);
  border-radius: 10px;
  width: 155px;
  height: 44px;
  position: absolute;
  left: 586px;
  top: 542px;
}
.detail {
  color: rgba(255, 224, 178, 0.8);
  text-align: left;
  font: 600 italic 20px/150% "Montserrat-SemiBoldItalic", sans-serif;
  position: absolute;
  left: 632px;
  top: 549px;
}
.rectangle-692 {
  border-radius: 10px;
  width: 46px;
  height: 44px;
  position: absolute;
  left: 749px;
  top: 542px;
}
.rectangle-502 {
  background: rgba(76, 175, 80, 0.8);
  border-radius: 10px;
  width: 45px;
  height: 44px;
  position: absolute;
  left: 1005px;
  top: 542px;
}
.rectangle-492 {
  background: rgba(76, 175, 80, 0.8);
  border-radius: 10px;
  width: 155px;
  height: 44px;
  position: absolute;
  left: 842px;
  top: 542px;
}
.detail2 {
  color: rgba(255, 224, 178, 0.8);
  text-align: left;
  font: 600 italic 20px/150% "Montserrat-SemiBoldItalic", sans-serif;
  position: absolute;
  left: 893px;
  top: 548px;
}
.rectangle-693 {
  border-radius: 10px;
  width: 46px;
  height: 44px;
  position: absolute;
  left: 1005px;
  top: 542px;
}
.rectangle-503 {
  background: rgba(76, 175, 80, 0.8);
  border-radius: 10px;
  width: 45px;
  height: 44px;
  position: absolute;
  left: 1264px;
  top: 542px;
}
.rectangle-493 {
  background: rgba(76, 175, 80, 0.8);
  border-radius: 10px;
  width: 155px;
  height: 44px;
  position: absolute;
  left: 1101px;
  top: 542px;
}
.detail3 {
  color: rgba(255, 224, 178, 0.8);
  text-align: left;
  font: 600 italic 20px/150% "Montserrat-SemiBoldItalic", sans-serif;
  position: absolute;
  left: 1148px;
  top: 549px;
}
.rectangle-694 {
  border-radius: 10px;
  width: 46px;
  height: 44px;
  position: absolute;
  left: 1264px;
  top: 542px;
}
.kopi-hitam {
  color: #3e2723;
  text-align: left;
  font: 600 20px/150% "Montserrat-SemiBold", sans-serif;
  position: absolute;
  left: 634px;
  top: 497px;
}
.rectangle-65 {
  border-radius: 30px;
  width: 192px;
  height: 163px;
  position: absolute;
  left: 851px;
  top: 318px;
}
.kopi-susu-tubruk {
  color: #3e2723;
  text-align: left;
  font: 600 italic 20px/150% "Montserrat-SemiBoldItalic", sans-serif;
  position: absolute;
  left: 858px;
  top: 501px;
}
.rectangle-66 {
  border-radius: 30px;
  width: 192px;
  height: 163px;
  position: absolute;
  left: 1107px;
  top: 319px;
}
.kopi-oat-latte {
  color: #3e2723;
  text-align: left;
  font: 600 italic 20px/150% "Montserrat-SemiBoldItalic", sans-serif;
  position: absolute;
  left: 1131px;
  top: 497px;
}
.rectangle-682 {
  background: rgba(255, 224, 178, 0.4);
  border-radius: 30px;
  width: 245px;
  height: 310px;
  position: absolute;
  left: 567px;
  top: 620px;
}
.rectangle-642 {
  border-radius: 30px;
  width: 191px;
  height: 161px;
  position: absolute;
  left: 596px;
  top: 645px;
}
.kopi-almond-latte {
  color: #3e2723;
  text-align: left;
  font: 600 italic 20px/150% "Montserrat-SemiBoldItalic", sans-serif;
  position: absolute;
  left: 603px;
  top: 826px;
}
.rectangle-695 {
  background: rgba(255, 224, 178, 0.4);
  border-radius: 30px;
  width: 245px;
  height: 310px;
  position: absolute;
  left: 825px;
  top: 620px;
}
.rectangle-652 {
  border-radius: 30px;
  width: 192px;
  height: 163px;
  position: absolute;
  left: 851px;
  top: 643px;
}
.kopi-cappuccino {
  color: #3e2723;
  text-align: left;
  font: 600 italic 20px/150% "Montserrat-SemiBoldItalic", sans-serif;
  position: absolute;
  left: 860px;
  top: 826px;
}
.rectangle-702 {
  background: rgba(255, 224, 178, 0.4);
  border-radius: 30px;
  width: 245px;
  height: 310px;
  position: absolute;
  left: 1083px;
  top: 620px;
}
.rectangle-662 {
  border-radius: 30px;
  width: 192px;
  height: 163px;
  position: absolute;
  left: 1107px;
  top: 644px;
}
.kopi-susu {
  color: #3e2723;
  text-align: left;
  font: 600 italic 20px/150% "Montserrat-SemiBoldItalic", sans-serif;
  position: absolute;
  left: 1155px;
  top: 826px;
}
.rectangle-504 {
  background: rgba(76, 175, 80, 0.8);
  border-radius: 10px;
  width: 45px;
  height: 44px;
  position: absolute;
  left: 749px;
  top: 863px;
}
.rectangle-494 {
  background: rgba(76, 175, 80, 0.8);
  border-radius: 10px;
  width: 155px;
  height: 44px;
  position: absolute;
  left: 586px;
  top: 863px;
}
.detail4 {
  color: rgba(255, 224, 178, 0.8);
  text-align: left;
  font: 600 italic 20px/150% "Montserrat-SemiBoldItalic", sans-serif;
  position: absolute;
  left: 635px;
  top: 870px;
}
.rectangle-696 {
  border-radius: 10px;
  width: 46px;
  height: 44px;
  position: absolute;
  left: 749px;
  top: 863px;
}
.rectangle-505 {
  background: rgba(76, 175, 80, 0.8);
  border-radius: 10px;
  width: 45px;
  height: 44px;
  position: absolute;
  left: 1264px;
  top: 863px;
}
.rectangle-495 {
  background: rgba(76, 175, 80, 0.8);
  border-radius: 10px;
  width: 155px;
  height: 44px;
  position: absolute;
  left: 1101px;
  top: 863px;
}
.detail5 {
  color: rgba(255, 224, 178, 0.8);
  text-align: left;
  font: 600 italic 20px/150% "Montserrat-SemiBoldItalic", sans-serif;
  position: absolute;
  left: 1148px;
  top: 870px;
}
.rectangle-697 {
  border-radius: 10px;
  width: 46px;
  height: 44px;
  position: absolute;
  left: 1264px;
  top: 863px;
}
.rectangle-506 {
  background: rgba(76, 175, 80, 0.8);
  border-radius: 10px;
  width: 45px;
  height: 44px;
  position: absolute;
  left: 1006px;
  top: 863px;
}
.rectangle-496 {
  background: rgba(76, 175, 80, 0.8);
  border-radius: 10px;
  width: 155px;
  height: 44px;
  position: absolute;
  left: 843px;
  top: 863px;
}
.detail6 {
  color: rgba(255, 224, 178, 0.8);
  text-align: left;
  font: 600 italic 20px/150% "Montserrat-SemiBoldItalic", sans-serif;
  position: absolute;
  left: 890px;
  top: 870px;
}
.rectangle-698 {
  border-radius: 10px;
  width: 46px;
  height: 44px;
  position: absolute;
  left: 1006px;
  top: 863px;
}
.home {
  color: #ffe0b2;
  text-align: left;
  font: 400 20px/150% "Montserrat-Regular", sans-serif;
  position: absolute;
  left: 477px;
  top: 195px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.about-us {
  color: #ffe0b2;
  text-align: left;
  font: 400 20px/150% "Montserrat-Regular", sans-serif;
  position: absolute;
  left: 564px;
  top: 195px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.our-products {
  color: #ffe0b2;
  text-align: left;
  font: 700 20px/150% "Montserrat-Bold", sans-serif;
  position: absolute;
  left: 681px;
  top: 195px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.contact {
  color: #ffe0b2;
  text-align: left;
  font: 400 20px/150% "Montserrat-Regular", sans-serif;
  position: absolute;
  left: 839px;
  top: 195px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.cart {
  color: #ffe0b2;
  text-align: left;
  font: 400 20px/150% "Montserrat-Regular", sans-serif;
  position: absolute;
  left: 944px;
  top: 195px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
                