.sign-up,
.sign-up * {
  box-sizing: border-box;
}
.sign-up {
  background: #ffffff;
  width: 1440px;
  height: 1024px;
  position: relative;
  overflow: hidden;
}
.andy-hay-1-ua-i-zc-cj-h-0-unsplash-1 {
  width: 1440px;
  height: 1024px;
  position: absolute;
  left: 0px;
  top: 0px;
  filter: blur(5px);
}
.ellipse-18 {
  background: rgba(255, 224, 178, 0.8);
  border-radius: 50%;
  width: 209px;
  height: 209px;
  position: absolute;
  left: 616px;
  top: 65px;
}
.ellipse-17 {
  border-radius: 50%;
  width: 209px;
  height: 209px;
  position: absolute;
  left: 616px;
  top: 65px;
}
.rectangle-107 {
  background: rgba(255, 224, 178, 0.8);
  border-radius: 15px;
  width: 635px;
  height: 447px;
  position: absolute;
  left: 396px;
  top: 301px;
  box-shadow: inset 0px 7px 4px 4px rgba(0, 0, 0, 0.25);
}
.rectangle-108 {
  background: rgba(76, 175, 80, 0.8);
  border-radius: 15px;
  width: 550px;
  height: 65px;
  position: absolute;
  left: 439px;
  top: 387px;
}
.rectangle-109 {
  background: rgba(76, 175, 80, 0.8);
  border-radius: 15px;
  width: 550px;
  height: 65px;
  position: absolute;
  left: 439px;
  top: 530px;
}
.username {
  color: #000000;
  text-align: center;
  font: 600 25px/150% "Montserrat-SemiBold", sans-serif;
  position: absolute;
  left: 434px;
  top: 336px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.email {
  color: #000000;
  text-align: center;
  font: 600 25px/150% "Montserrat-SemiBold", sans-serif;
  position: absolute;
  left: 434px;
  top: 480px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rectangle-112 {
  background: rgba(76, 175, 80, 0.8);
  border-radius: 15px;
  width: 550px;
  height: 65px;
  position: absolute;
  left: 439px;
  top: 660px;
}
.password {
  color: #000000;
  text-align: center;
  font: 600 25px/150% "Montserrat-SemiBold", sans-serif;
  position: absolute;
  left: 434px;
  top: 608px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rectangle-111 {
  background: #3e2723;
  border-radius: 6px;
  width: 630px;
  height: 61px;
  position: absolute;
  left: 399px;
  top: 764px;
}
.sign-up2 {
  color: rgba(255, 224, 178, 0.8);
  text-align: center;
  font: 600 25px/150% "Montserrat-SemiBold", sans-serif;
  position: absolute;
  left: 664px;
  top: 778px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rectangle-113 {
  background: #4caf50;
  border-radius: 6px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 630px;
  height: 61px;
  position: absolute;
  left: 401px;
  top: 851px;
}
.already-have-account {
  color: #3e2723;
  text-align: center;
  font: 600 25px/150% "Montserrat-SemiBold", sans-serif;
  position: absolute;
  left: 579px;
  top: 860px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rectangle-115 {
  background: rgba(240, 9, 37, 0.7);
  border-radius: 12px;
  width: 77px;
  height: 76px;
  position: absolute;
  left: 1296px;
  top: 65px;
}
.rectangle-114 {
  width: 69px;
  height: 65px;
  position: absolute;
  left: 1301px;
  top: 70px;
}
